/* TOOLS */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* COLORS */
  --primary-color: hsl(172, 67%, 45%);

  /*  NEUTRAL*/
  --dark-green: hsl(183, 100%, 15%);
  --grey-5: hsl(186, 14%, 43%);
  --grey-4: hsl(184, 14%, 56%);
  --grey-2: hsl(185, 41%, 84%);
  --light-grey: hsl(189, 47%, 97%);

  --color-white: hsl(0, 100%, 100%);

  /* FONTS */
  --text-font: "Space Mono", monospace;
  --text-weight: 700;
  --font-size: 2.4rem;
}

body {
  line-height: 1.6;
  font-family: var(--text-font);
  background-color: var(--grey-2);
  padding: 1rem;
}

.body-div {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 9rem;
}

.header {
  margin-top: 1.4rem;
  margin-bottom: 4.6rem;
}

.main-div {
  max-width: 60rem;
  height: 30rem;
  display: flex;
  gap: 2.4rem;
  background-color: var(--color-white);
  border-radius: 16px;
  margin: 0 22rem 0 22rem;
  padding: 1.6rem;
}

.tip-side {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: left;
  line-height: 1.6;
}

.bill-div {
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
}

.tip-select-div {
  margin-top: 0.2rem;
}

.tt {
  margin-bottom: 1rem;
}

.tip-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.8rem;
  gap: 0.8rem;
}

.tip-percentage,
.tip-percentage:link {
  width: 7rem;
  border: none;
  padding: 0.9rem;
  text-decoration: none;
  background-color: var(--dark-green);
  border-radius: 5px;
  color: var(--color-white);
  font-weight: var(--text-weight);
  text-align: center;
  font-size: 1.2rem;
}

.tip-percentage:hover,
.tip-percentage:active {
  background-color: var(--grey-2);
  color: var(--dark-green);
}

.custom-tip {
  width: 7rem;
  border: none;
  font-weight: var(--text-weight);
  font-size: 1.2rem;
  background-color: var(--grey-2);
  text-align: center;
  color: var(--dark-green);
}

.div-numbers {
  margin-bottom: 0.7rem;
}

.intro {
  color: var(--grey-5);
}

.result-side {
  background-color: var(--dark-green);
  width: 30rem;
  border-radius: 16px;
  padding: 1.2rem;
}

.tip-amt {
  margin-top: 1.6rem;
  margin-bottom: 1.8rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.amt-int-txts {
  display: flex;
  flex-direction: column;
}

.amt-intro {
}

.amt-intro-sec {
}
